{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!--<link rel="stylesheet" href="aboutcontact.css"> -->
      <link rel="stylesheet" type="text/css" href="{% static '/css/aboutcontact.css'%}">
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">


  </head>
  <body class="body3">
      <div class="about-section">
        <div class="inner-width">
          <h1>About Us</h1>
<div class="border"></div>
              <div class="about" >
                <p>
                We are the students of Department of Computer science and Engineering at Jahangirnagar University. We built this website so that any academic institution can easily measure the skill of a student efficiently.
                </p><br><br>
                      </div>

<img src="{% static '/images/fig.jpg' %}" alt="graduation ceremony" style="width:90%;height:200px;float: right;margin-top:-120px;margin-left:-30px ;margin-right:20px"> 

              </div>
            </div>


                </div>

          </div>
        </div>
      </div>
  </body>
</html>
