{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Form | CodingNepal</title>
    <!--<link rel="stylesheet" href="stylelog.css"> -->
    <link rel="stylesheet" href="{% static '/css/stylelog.css'%}">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="post" action="">
        {% csrf_token %}
        <div class="txt_field">
          <input type="text" placeholder="Username" name="username" required>
          <span></span>
          
        </div>
        <div class="txt_field">
          <input type="password" name="password" placeholder="Password" required>
          <span></span>
          
        </div>
        <div class="pass">Forgot Password?</div>
        <button type="submit" value="Login" class="submit-btn">Submit</button>

        {% for message in messages %}
          <p id="messages">{{message}}</p>
        {% endfor %}

      </form>
    </div>

  </body>
</html>
